certifi==2023.11.17
charset-normalizer==3.2.0
idna==3.4
PyAudio==0.2.13
requests==2.31.0
SpeechRecognition==3.10.1
typing-extensions==4.5.0
urllib3==1.26.17
numpy
pandas
LinearRegression
matplotlib
scikit-learn
fastapi
uvicorn
paho-mqtt
slowapi